@common.main("登入")("default", List(), List("landing.css", "auth.css")){
<div id="section-login" class="section section-bgBased centering">
	<div class="block form">
		<div class="formContent">
			<div class="icon"></div>
			<div class="caption">Freshly Roasted Coffee in a snap</div>
			<div class="seperator line"></div>
			<div class="desc">Sign up now to get access to The Frequency, our email newsletter packed with coffee secrets, brewing tips, and special limited offers, exclusively for Tonx members.</div>
			<div class="btns">
				<div id="submit" class="btn actionBtn submit">登入</div>
			</div>
		</div>
	</div>
</div>
}()
