<!--
<div class="nav">
      <a href="/admin/user">User</a>
      <a href="/admin/product">Product</a>
      <a href="/admin/schedule">Schedule</a>
      <a href="/admin/country">Country</a>
    </div>
    -->
<div data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;">
  <dl class="sub-nav">
    <dd><a href="/admin/user">User</a></dd>
    <dd><a href="/admin/product">Product</a></dd>
    <dd><a href="/admin/schedule">Schedule</a></dd>
    <dd><a href="/admin/country">Country</a></dd>
    <dd class="right" id="logout-btn"><a href="javascript: void(0)">登出</a></dd>
  </dl>
</div>
