<div data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;">
  <dl class="sub-nav">
    <dd data-magellan-arrival="product"><a href="/#product">精選生豆</a></dd>
    <dd data-magellan-arrival="about-us"><a href="/#about-us">關於碧利</a></dd>
    <dd data-magellan-arrival="about-farm"><a href="/#about-farm">產地故事</a></dd>
    <dd data-magellan-arrival="contact"><a href="/#contact">聯絡我們</a></dd>
    <dd class="right as-nonlogin"><a href="/login">登入</a></dd>
    <dd class="right as-nonlogin"><a href="/register">註冊</a></dd>
    <dd class="right as-login" id="logout-btn"><a href="javascript: void(0)">登出</a></dd>
  </dl>
</div>
