<div class="copyright" style="height:160px;background-color: #262626;">
  <div class="row" data-equalizer>
    <div class="small-7 columns" data-equalizer-watch>
      <span>E-mail: info@@billiecafe.com</span>
      <br>
      <span>Phone: 02-24769869</span>
      <br>
      <span>Address: 7F, No.2, Alley 315, Sec.2, Chung Shan Road, Chung Ho City, Taipei City 235, Taiwan</span>
    </div>
    <div class="small-4 columns" data-equalizer-watch style="border-left: 1px dotted #6b6b6b; padding-left: 20px; margin-left: 10px;">
      <br><br>
      <span class="right" style="color: #bdbdbd;">© Copyright 2014 by BillieCafe. All Rights Reserved. </span>
    </div>
  </div>
</div>
